
@font-face {
  font-family: "Bold";
  src: local("Bold"), url("Google/ProductSans-Bold.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Regular";
  src: local("Regular"), url("Google/ProductSans-Regular.ttf") format("truetype");
  font-weight: lighter;
}


body {
  font-family: Bold, sans-serif;
    padding: 20px;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #calendar {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .fc-toolbar h2 {
    font-size: 1.5em;
    color: #333;
  }
  
  .fc-day-header {
    background-color: #f8f9fa;
    color: #333;
    font-weight: bold;
    padding: 10px 0;
  }
  
  .fc-event {
    border-radius: 3px;
    font-size: 0.85em;
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .fc-content {
    white-space: normal;
    overflow: visible;
  }
  .fc-center {
    
    margin-top: 5%;
  }
  
  .fc-toolbar {
    /* margin-top: 40%; */
   
  }
  .title {
  font-size: 20px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 10%;
    font-family: Regular, sans-serif;
   }

   .logo {
    width: 60px;
    height: 60px;
   
    align-content: center;
    align-self: center;
  }

  .headertitle{
    
    display: flex;
    flex-direction: row;

  }

  .titlesub{

    align-content: center;
    margin-left: 4%;
  min-width: 90%;
  }

  .head{

    display: flex;
    flex-direction: row;
   

  }

  .logo2{

    width: 80px;
    height: auto;
    margin-bottom: 20px;
  }